* {
    margin: 0px;
    border: 0px;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

ul {
    list-style: none;
}

.safe {
    width: 1200px;
    margin: 0 auto;
}

img {
    vertical-align: middle;
}


/* guanggao图 */

.guanggao {
    width: 1920px;
    height: 90px;
    background: url(/img/guanggao.jpg) no-repeat center;
    position: absolute;
    left: 50%;
    margin-left: -960px;
}

.close {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background-color: #312c2c31;
    /* opacity: 0.7; */
    color: white;
    text-align: center;
    line-height: 24px;
    position: absolute;
    right: 181px;
    top: 9px;
    z-index: 1;
    cursor: pointer;
}


/* nav */